/*
Theme: My Live Savers Training Center
Author: Hayes Dev + Design
Author URI: https://www.kendallhayes.app
Description: A custom theme for My Live Savers Training Center
Version: 1.0.0
Tags: E-course
*/
