.tribe-events-pg-template {
  color: $font-white !important;
  svg {
    fill: $font-white !important;
  }
}

.tribe-events-schedule {
  h2 {
    color: $font-white;
  }
}

.tribe-events-widget-events-list,
.tribe-common-l-container,
.tribe-events-l-container {
  h3,
  a,
  span {
    color: $font-white;
  }

  a:hover {
    text-decoration: underline;
  }
}

.tribe-events-calendar-list__event-title-link,
.tribe-events-calendar-list__event-date-tag-daynum,
time {
  color: $font-white !important;
}

.tribe-events-calendar-list__event-date-tag-weekday {
  color: $font-grey !important;
}

.tribe-common .tribe-common-c-svgicon--messages-not-found path {
  stroke: $font-white !important;
}

.tribe-common-anchor-thin-alt {
  color: $font-white !important;
}

.tribe-events-calendar-month__day-date .tribe-common-h4 {
  color: $font-white !important;
}

.tribe-events-calendar-month__day-date-link,
.tribe-events-calendar-month__day-date-daynum,
.tribe-events-c-nav__today {
  color: $font-white !important;
}

.tribe-events-c-events-bar__search-button,
.tribe-events-c-view-selector__button {
  svg {
    stroke: $font-white;
  }
}

time {
  color: $font-white !important;
}
